<p id="notice"><%= notice %></p>

<%= link_to 'New Article', new_article_path %>
<br>
<% @articles.each do |article| %>
	<h1><%= article.title %></h1>
	<p><%= article.content %></p>
	<%= link_to article.created_at, article_path(article) %>
	<br>
<% end %>

